@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&family=Open+Sans&display=swap");

$font-family: "Inter";
$font-family-druk: "Druk Wide-Medium";

$font-size-primary: 16px;

$font-weight-primary: 400;
